# Understanding dplyr library in R
This exercise is to understand the usage of different functions in the dplyr library in R using a dataset for NYC Flights. This data set is also imported as a library into the script and then made use of later

In [35]:
library(dplyr)
library(nycflights13)

# Connecting to the Database
Connecting to a new database and creating if it does not exist. Then copying the flights table from the nycflights13 library into our newly created database using the copy_to function.
* The data that is inserted into the database is also stored in a variable named flights_sqlite

In [2]:
my_db <- src_sqlite("flights.sqlite", create = T)

In [3]:
flights_sqlite <- copy_to(my_db, flights, temporary = FALSE, indexes = list(c("year","month","day"), "carrier", "tailnum"), )

# Dispalying the Contents of the Flights Table

In [4]:
#Displaying the contents of the Flights Table
tbl(src = my_db, sql("Select * from flights"))

Source:   query [?? x 19]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

# Displaying selected columns for all the flights
This is done using the select function in dplyr. For this example, I am displaying the year, month, date, departure delay and the arrival delay for all the flights.

In [5]:
select(flights_sqlite, year:day, dep_delay, arr_delay)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day dep_delay arr_delay
   <int> <int> <int>     <dbl>     <dbl>
1   2013     1     1         2        11
2   2013     1     1         4        20
3   2013     1     1         2        33
4   2013     1     1        -1       -18
5   2013     1     1        -6       -25
6   2013     1     1        -4        12
7   2013     1     1        -5        19
8   2013     1     1        -3       -14
9   2013     1     1        -3        -8
10  2013     1     1        -2         8
# ... with more rows

# Filtering out Flights
Using the filter function, I am selecting all the flights that have a departure delay of more than 240. This function is also available in the dplyr library.

In [6]:
filter(flights_sqlite, dep_delay > 240)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      848           1835       853     1001           1950
2   2013     1     1     1815           1325       290     2120           1542
3   2013     1     1     1842           1422       260     1958           1535
4   2013     1     1     2115           1700       255     2330           1920
5   2013     1     1     2205           1720       285       46           2040
6   2013     1     1     2343           1724       379      314           1938
7   2013     1     2     1332            904       268     1616           1128
8   2013     1     2     1412            838       334     1710           1147
9   2013     1     2     1607           1030       337     2003           1355
10  2013     1     2     2131           1512       379     2340           1741
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

# Sorting Data
Sorting the data is done using the arrange function. In this example, I am sorting them by year, then month in case of tie and then the day in case of a 2nd tie. It will sort them in a non-decreasing way which can be changed to decreasing by using the desc function on any parameter.

In [7]:
arrange(flights_sqlite, year, month, day)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

## Sorting all data in descending order
Soring all the data in descending order with the maximum departure delay first and then by the year, month and day if conflict arises.

In [8]:
arrange(flights_sqlite, desc(dep_delay), year, month, day)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     9      641            900      1301     1242           1530
2   2013     6    15     1432           1935      1137     1607           2120
3   2013     1    10     1121           1635      1126     1239           1810
4   2013     9    20     1139           1845      1014     1457           2210
5   2013     7    22      845           1600      1005     1044           1815
6   2013     4    10     1100           1900       960     1342           2211
7   2013     3    17     2321            810       911      135           1020
8   2013     6    27      959           1900       899     1236           2226
9   2013     7    22     2257            759       898      121           1026
10  2013    12     5      756           1700       896     1058           2020
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

# Generating More Data
Generating more data (meta-data) from already existing data is done using the mutate function in dplyr. We can simply refer to existing colums and create new columns by operating on those existing colums. In this example, I have calculated the speed of the aircraft using the distance and the air time columns in the same table.

After that, I have displayed the speed using the select function, as described above.

In [9]:
updated_flights <- mutate(flights_sqlite, speed=distance/air_time)

In [10]:
select(updated_flights, speed)

Source:   query [?? x 1]
Database: sqlite 3.11.1 [flights.sqlite]

      speed
      <dbl>
1  6.167401
2  6.237885
3  6.806250
4  8.612022
5  6.568966
6  4.793333
7  6.740506
8  4.320755
9  6.742857
10 5.311594
# ... with more rows

# Summary of Data
Summarising data to get some results is another great aspect of dplyr library. In the example below, I have calculated the average speed and the average air time of all the flights in the database and displayed them.

In [11]:
summarise(updated_flights, avg_speed = mean(speed), avg_airtime = mean(air_time))

Source:   query [?? x 2]
Database: sqlite 3.11.1 [flights.sqlite]

  avg_speed avg_airtime
      <dbl>       <dbl>
1  6.571228    150.6865

# Understanding Laziness of dplyr
dplr is a very lazy library and does not touch the database unless it is forced to. For example, as shown below, it will not manipulate the data on the database and will just display the top 10 results that is has in memory. Whenever we query it to display the date, it will just show the top 10 results and mention more results are available.

In [12]:
c1 <- filter(flights_sqlite, year == 2013, month == 1, day == 1)
c2 <- select(c1, year, month, day, carrier, dep_delay, air_time, distance)
c3 <- mutate(c2, speed = distance / air_time * 60)
c4 <- arrange(c3, desc(speed), year, month, day, carrier)

In [13]:
c4

Source:   query [?? x 8]
Database: sqlite 3.11.1 [flights.sqlite]

    year month   day carrier dep_delay air_time distance    speed
   <int> <int> <int>   <chr>     <dbl>    <dbl>    <dbl>    <dbl>
1   2013     1     1      AA        59      184     1623 529.2391
2   2013     1     1      B6         0      182     1598 526.8132
3   2013     1     1      DL         0      182     1598 526.8132
4   2013     1     1      B6        91      183     1598 523.9344
5   2013     1     1      UA        -5      189     1634 518.7302
6   2013     1     1      B6        -6      185     1598 518.2703
7   2013     1     1      B6        -1      183     1576 516.7213
8   2013     1     1      UA         3      187     1608 515.9358
9   2013     1     1      UA         1      188     1608 513.1915
10  2013     1     1      AA        -5      188     1598 510.0000
# ... with more rows

## Forcing dplyr to fetch all the data
Using the collect function, we can force the library to fetch the entire data and show as a table/data frame. When we execute this function, that is when the library actually fetches the data from the database and displays to us.

In [14]:
collect(c4)

    year month day carrier dep_delay air_time distance speed
1   2013 1     1   AA       59       184      1623     529.2391
2   2013 1     1   B6        0       182      1598     526.8132
3   2013 1     1   DL        0       182      1598     526.8132
4   2013 1     1   B6       91       183      1598     523.9344
5   2013 1     1   UA       -5       189      1634     518.7302
6   2013 1     1   B6       -6       185      1598     518.2703
7   2013 1     1   B6       -1       183      1576     516.7213
8   2013 1     1   UA        3       187      1608     515.9358
9   2013 1     1   UA        1       188      1608     513.1915
10  2013 1     1   AA       -5       188      1598     510.0000
11  2013 1     1   AA       35       188      1598     510.0000
12  2013 1     1   DL       -4       188      1598     510.0000
13  2013 1     1   B6       -3       186      1576     508.3871
14  2013 1     1   B6        8       189      1598     507.3016
15  2013 1     1   B6        5       189      1598     507.3016
16  2013 1     1   B6       -3       191      1608     505.1309
17  2013 1     1   AA       -9       190      1598     504.6316
18  2013 1     1   B6       -4       190      1598     504.6316
19  2013 1     1   B6        0       190      1598     504.6316
20  2013 1     1   B6      -12       191      1598     501.9895
21  2013 1     1   AA       -2       192      1598     499.3750
22  2013 1     1   DL        8       192      1598     499.3750
23  2013 1     1   B6       -6       195      1617     497.5385
24  2013 1     1   B6      122       193      1598     496.7876
25  2013 1     1   UA        9       192      1585     495.3125
26  2013 1     1   UA       -6       199      1608     484.8241
27  2013 1     1   B6       15       330      2576     468.3636
28  2013 1     1   B6      116       290      2248     465.1034
29  2013 1     1   B6       -1       334      2569     461.4970
30  2013 1     1   B6       12       337      2586     460.4154
⋮   ⋮    ⋮     ⋮   ⋮       ⋮         ⋮        ⋮        ⋮
813 2013 1     1   9E       -8       66        264     240.0000
814 2013 1     1   EV       64       53        212     240.0000
815 2013 1     1   EV       34       36        143     238.3333
816 2013 1     1   US       -7       54        214     237.7778
817 2013 1     1   B6        7       86        340     237.2093
818 2013 1     1   MQ        3       54        213     236.6667
819 2013 1     1   B6       -4       87        340     234.4828
820 2013 1     1   EV       10       59        229     232.8814
821 2013 1     1   B6       -3       54        209     232.2222
822 2013 1     1   DL       -6       56        213     228.2143
823 2013 1     1   MQ       -5       57        213     224.2105
824 2013 1     1   MQ       -5       57        213     224.2105
825 2013 1     1   9E       -6       57        209     220.0000
826 2013 1     1   B6       12       58        209     216.2069
827 2013 1     1   MQ      157       60        213     213.0000
828 2013 1     1   B6       -4       65        228     210.4615
829 2013 1     1   9E        0       30         94     188.0000
830 2013 1     1   US       -7       32         96     180.0000
831 2013 1     1   9E      -10       35         94     161.1429
832 2013 1     1   9E       59       NA       1391           NA
833 2013 1     1   AA       NA       NA       1389           NA
834 2013 1     1   AA       NA       NA       1096           NA
835 2013 1     1   B6       NA       NA       1069           NA
836 2013 1     1   EV       29       NA        872           NA
837 2013 1     1   EV       22       NA       1215           NA
838 2013 1     1   EV       46       NA       1325           NA
839 2013 1     1   EV       NA       NA        416           NA
840 2013 1     1   MQ       -5       NA       1147           NA
841 2013 1     1   MQ       -5       NA       1147           NA
842 2013 1     1   UA       29       NA       2425           NA

## Understanding the Operations performed by dplyr
Since we do not deal with SQL directly when using dplyr, we don't really know what query is dplyr sending to the database to fetch our results. We can get this information when we use the explain function in dplyr. This function displays the entire SQL command that it executes on the database to fetch our results. 
In the example below, I am fetching the SQL commands for the query c4 that I built above.

In [15]:
explain(c4)

<SQL>
SELECT *
FROM (SELECT `year`, `month`, `day`, `carrier`, `dep_delay`, `air_time`, `distance`, `distance` / `air_time` * 60.0 AS `speed`
FROM (SELECT `year` AS `year`, `month` AS `month`, `day` AS `day`, `carrier` AS `carrier`, `dep_delay` AS `dep_delay`, `air_time` AS `air_time`, `distance` AS `distance`
FROM (SELECT *
FROM `flights`
WHERE ((`year` = 2013.0) AND (`month` = 1.0) AND (`day` = 1.0)))))
ORDER BY `speed` DESC, `year`, `month`, `day`, `carrier`


<PLAN>
   addr       opcode p1    p2 p3              p4 p5 comment
1     0         Init  0    47  0                 00      NA
2     1   SorterOpen  4    14  0 k(5,-B,B,B,B,B) 00      NA
3     2     OpenRead  3     2  0              19 00      NA
4     3     OpenRead  5 22527  0        k(4,,,,) 02      NA
5     4         Real  0     1  0            2013 00      NA
6     5         Real  0     2  0               1 00      NA
7     6         Real  0     3  0               1 00      NA
8     7     Affinity  1     3  0             DDD 00      NA
9     8       SeekGE  5    31  1               3 00      NA
10    9        IdxGT  5    31  1               3 00      NA
11   10         Seek  5     0  3                 00      NA
12   11       Column  5     0  9                 00      NA
13   12       Column  5     1 10                 00      NA
14   13       Column  5     2 11                 00      NA
15   14       Column  3     9 12                 00      NA
16   15       Column  3     5 13                 00      NA
17   16 RealAffinity 13     0  0                 00      NA
18   17       Column  3    14 14                 00      NA
19   18 RealAffinity 14     0  0                 00      NA
20   19       Column  3    15 15                 00      NA
21   20 RealAffinity 15     0  0                 00      NA
22   21       Divide 14    15 17                 00      NA
23   22     Multiply 19    17 16                 00      NA
24   23         Copy 16     4  0                 00      NA
25   24         Copy  9     5  0                 00      NA
26   25         Copy 10     6  0                 00      NA
27   26         Copy 11     7  0                 00      NA
28   27         Copy 12     8  0                 00      NA
29   28   MakeRecord  4    13 20                 00      NA
30   29 SorterInsert  4    20  0                 00      NA
31   30         Next  5     9  1                 00      NA
32   31        Close  3     0  0                 00      NA
33   32        Close  5     0  0                 00      NA
34   33   OpenPseudo  6    21 14                 00      NA
35   34   SorterSort  4    46  0                 00      NA
36   35   SorterData  4    21  6                 00      NA
37   36       Column  6     5  9                 00      NA
38   37       Column  6     6 10                 00      NA
39   38       Column  6     7 11                 00      NA
40   39       Column  6     8 12                 00      NA
41   40       Column  6     9 13                 00      NA
42   41       Column  6    10 14                 00      NA
43   42       Column  6    11 15                 00      NA
44   43       Column  6    12 16                 00      NA
45   44    ResultRow  9     8  0                 00      NA
46   45   SorterNext  4    35  0                 00      NA
47   46         Halt  0     0  0                 00      NA
48   47  Transaction  0     0  5               0 01      NA
49   48    TableLock  0     2  0         flights 00      NA
50   49         Real  0    19  0              60 00      NA
51   50         Goto  0     1  0                 00      NA